alembic
fastapi
email_validator
sqlalchemy
sqlalchemy-utils
typing-extensions
uvicorn
gunicorn
pydantic
psycopg2
click
requests
git+git://github.com/openforcefield/openff-recharge@0.0.1-alpha.2#egg=openff-recharge