alembic
fastapi
email_validator
sqlalchemy <1.4.0
sqlalchemy-utils
typing-extensions
uvicorn[standard]
gunicorn
pydantic
psycopg2
click
requests
git+git://github.com/openforcefield/openff-recharge@0.0.1#egg=openff-recharge
pandas