body {
  overflow-y: hidden;
}

.app__container {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}

.app__header {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-bottom: 1em;
}

.project__header {
}
.project__container {
    display:flex;
    flex-flow:row nowrap;
    justify-content:space-between;
    height:100vh;
}
.project__sidebar{
    display: flex;
    flex: 0 0 18rem;
    flex-flow: column nowrap;
    justify-content: flex-start;
}
.project__content {
    flex: 1 1 600px;
    overflow-y: auto;
    padding-bottom: 56px;
}
